<div class="thumbnail">
  <mat-card class="example-card">
    <div class="imagediv">
      <img
        mat-card-image
        src="#"
        alt="{{ name }}"
        width="50px"
        height="600px"
      />
    </div>
    <div class="content">
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-title> Mission Ids: </mat-card-title>
      <mat-card-title> {{ missionId }}</mat-card-title>
      <mat-card-title> Launch Year: </mat-card-title>
      <mat-card-title> {{ launchYear }}</mat-card-title>
      <mat-card-title> Launch Success: </mat-card-title>
      <mat-card-title> {{ launchSuccess }}</mat-card-title>
    </div>
  </mat-card>
</div>
