<section>
  <div>
    <div class="heading">Filters</div>
    <div class="sub-heading">Launch Year</div>
  </div>

  <div class="cards">
    <div class="card" *ngFor="let year of yearsList">
      <button class="button" (click)="setYear(year)">
        {{ year }}
      </button>
    </div>
  </div>
  <div class="sub-heading">Successful Launch</div>
  <div class="cards">
    <div class="card">
      <button class="button" (click)="setLaunchStatus(true)">True</button>
    </div>
    <div>
      <button class="button" (click)="setLaunchStatus(false)">False</button>
    </div>
  </div>

  <div class="sub-heading">Successful Landing</div>
  <div class="cards">
    <div class="card">
      <button class="button" (click)="setLandStatus(true)">True</button>
    </div>
    <div>
      <button class="button" (click)="setLandStatus(false)">False</button>
    </div>
  </div>

</section>