.card-container {
  width: 100%;
}

.flex-card-container {
  display: flex;
  padding: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}

/* @media screen and (max-width: 700px) {
  .flex-card-container {
    flex-direction: column;
  }
  .card-container {
    flex: 100%;
  }
} */

.count {
  color: white;
  font-weight: 400;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding-top: 35px;
  background-color: blueviolet;
  border: 1px solid blueviolet;
}
